
body {
  margin: 48px auto;
  background: #f5f5f5;
  color: #333333;
}
h1 {
  text-align: center;
}
#currentlyPressed {
  text-align: center;
  font-size: 14px;
}
#controls {
  margin: 0px auto;
  max-width: 300px;
  display: flex;
  justify-content: space-around;
}