
body {
  margin: 48px auto;
  background: #f5f5f5;
}
h1 {
  color: #333333;
  text-align: center;
}
#controls {
  margin: 0px auto;
  max-width: 300px;
  display: flex;
  justify-content: space-around;
}