:root {
	--primary: #63b562;
	--text-primary: #bbd6ba;
	--background: #060606ee;
	--foreground: #060606;
	--border: #1f341e;
	--escape-primary: #d59408;
	--escape-background: #483308;
	--danger: #f60021;
	--key-spacing: 2px;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Courier New", monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	color: var(--text-primary);
	flex-direction: column;
	padding: 0.75rem;
	background: var(--background);
}

header {
	display: flex;
	padding-bottom: 0.5rem;
	margin-bottom: 1rem;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid var(--border);
}

h1 {
	font-size: 1.5rem;
	margin: 0rem;
	font-weight: 700;
	letter-spacing: 0.05em;
}

.statusContainer {
	display: flex;
	gap: 0.75rem;
	align-items: center;
}

.statusIndicator {
	padding: 0.25rem 0.75rem;
	border: 2px solid var(--primary);
	color: var(--primary);
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-weight: 700;
}

.statusLocked {
	border-color: var(--danger);
	color: var(--danger);
}

.container {
	padding: 0.75rem;
	border: 1px solid var(--border);
	border-width: 1px;
	margin-bottom: 1rem;
}

.controlContainer {
	margin: 1rem 0;
}

.controlsContainer > button {
	display: flex;
	border: none;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 1rem;
	width: 100%;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.25rem;
	margin-bottom: 1rem;
}

.primaryButton {
	color: var(--foreground);
	background-color: var(--primary);
}

.lock-active {
	color: #fff;
	background-color: var(--danger);
}

.containerHeader {
	display: flex;
	margin-bottom: 0.5rem;
	justify-content: space-between;
	align-items: center;
}

.controlEscapeEdit {
	border: 2px solid var(--primary);
	background: none;
	color: var(--text-primary);
	display: inline-flex;
	padding: 0.5rem 0.75rem;
	justify-content: center;
	align-items: center;
}

.keySequence {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-weight: 700;
}

.keySequence > span {
	display: inline-flex;
	align-items: center;
	padding: 0.25rem 0.5rem;
}

#currentlyPressed {
	text-align: center;
	font-size: 14px;
}

.keyboard {
	aspect-ratio: 18 / 6;
	width: 100%;
	display: flex;
	flex-direction: column;
	user-select: none;
	gap: var(--key-spacing);
}

.row {
	height: calc(100% / 6);
	width: 100%;
	display: flex;
	gap: var(--key-spacing);
}

.key {
	width: calc(100% / 18);
	height: 100%;
	border: 1px solid var(--border);
	display: flex;
	padding-top: 4px;
	justify-content: center;
	font-size: calc(100vw / 60);
  /* differentiate font size (chars are normal, special keys use smaller font)*/
	transition: background-color 0.05s;
	cursor: pointer;
}

.key-active {
	background-color: var(--primary);
	color: var(--foreground);
}

.key-escape {
	border-color: var(--escape-primary);
	color: var(--escape-primary);
	background-color: var(--escape-background);
}

/* Key Specific Widths */

.U1-25 {
	width: calc((100% / 18 * 1.25) + var(--key-spacing));
}
.U1-5 {
	width: calc((100% / 18 * 1.5) + var(--key-spacing));
}
.U1-75 {
	width: calc((100% / 18 * 1.75) + var(--key-spacing));
}
.U2 {
	width: calc((100% / 18 * 2) + var(--key-spacing));
}
.U2-25 {
	width: calc((100% / 18 * 2.25) + var(--key-spacing) * 2);
}
.U6-75 {
	width: calc((100% / 18 * 6.75) + var(--key-spacing) * 5);
}
