:root {
  --key-shadow: #333333;
  --key-escape: #ff9900;
  --key-spacing: 2px;
}
* {
  box-sizing: border-box;
}

/* transparent bg? */

body {
  margin: 48px auto;
  background: #f5f5f5;
  color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

#currentlyPressed {
  text-align: center;
  font-size: 14px;
}

#controls {
  margin: 0px auto;
  max-width: 300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.keyboard {
  aspect-ratio: 18 / 6;
  width: 90%;
  display: flex;
  flex-direction: column;
  user-select: none;
  margin: 1rem auto;
  gap: var(--key-spacing);
}

.row {
  height: calc(100% / 6);
  width: 100%;
  display: flex;
  gap: var(--key-spacing);
}


.key {
  width: calc(100% / 18);
  height: 100%;
  border: 1px solid var(--key-shadow);
  display: flex;
  justify-content: center;
  font-size: calc(100vw / 60); /* differentiate font size (chars are normal, special keys use smaller font)*/
  background-color: #f5f5f5;
  transition: background-color 0.05s;
  cursor: pointer;
}

.key-active {
	background-color: #d1d1d1;
	box-shadow: inset 0 -1px var(--key-shadow);
}

.key-escape {
  border-color: var(--key-escape);
}


/* Key Specific Widths */

.U1-25 {
  width: calc((100% / 18 * 1.25) + var(--key-spacing));
}
.U1-5 {
  width: calc((100% / 18 * 1.5) + var(--key-spacing));
}
.U1-75 {
  width: calc((100% / 18 * 1.75) + var(--key-spacing));
}
.U2 {
  width: calc((100% / 18 * 2) + var(--key-spacing));
}
.U2-25 {
  width: calc((100% / 18 * 2.25) + var(--key-spacing) * 2);
}
.U6-75 {
  width: calc((100% / 18 * 6.75) + var(--key-spacing) * 5);
}