:root {
  --key-shadow: #333333;
}
* {
  box-sizing: border-box;
}

body {
  margin: 48px auto;
  background: #f5f5f5;
  color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

#currentlyPressed {
  text-align: center;
  font-size: 14px;
}

#controls {
  margin: 0px auto;
  max-width: 300px;
  display: flex;
  justify-content: space-around;
}

.keyboard {
  display: flex;
  flex-direction: column;
  user-select: none;
  margin: 1rem auto;
}

.row {
  display: flex;
  align-content: flex-start;
}


.key {
  width: 3rem;
  height: 2.5rem;
  border: 1px solid var(--key-shadow);
  display: flex;
  justify-content: center;
  font-size: 14px;
  box-shadow: 0 2px 0 var(--key-shadow);
	background-color: #f5f5f5;
  transition: background-color 0.05s;
  cursor: pointer;
}

.key-active {
	background-color: #d1d1d1;
	box-shadow: inset 0 -1px var(--key-shadow);
}


/* Key Specific Widths */

.U1-25 {
  width: 3.75rem;
}
.U1-5 {
  width: 4.5rem;
}
.U1-75 {
  width: 5.25rem;
}
.U2 {
  width: 6rem;
}
.U2-25 {
  width: 6.75rem;
}
.U6-75 {
  width: 20.25rem;
}